.bottom-footer
	.container
		.row
			.footer-col.copyright.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-12
				p.copyright__description &copy; 2010-2015 Trinetix LLC
			.footer-col.footer-menu.col-xl-6.col-lg-6.col-md-6
				a(href="/", class="footer-menu__link") Home
				a(href="javascript:void(0);", class="footer-menu__link") Case studies
				a(href="javascript:void(0);", class="footer-menu__link") Services
				a(href="javascript:void(0);", class="footer-menu__link") Expertise
				a(href="javascript:void(0);", class="footer-menu__link") About
				a(href="javascript:void(0);", class="footer-menu__link") Contact us
			.footer-col.social-menu.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-12
				a(href="https://www.facebook.com/trinetix/", target="_blank", class="social-menu__link")
					include ../../includes/svg/social/_facebook.pug
				a(href="https://www.linkedin.com/company/trinetix-llc", target="_blank", class="social-menu__link")
					include ../../includes/svg/social/_linkedin.pug
				a(href="javascript:void(0);", target="_blank", class="social-menu__link")
					include ../../includes/svg/social/_google.pug
				a(href="https://twitter.com/trinetix", target="_blank", class="social-menu__link")
					include ../../includes/svg/social/_twitter.pug