.top-footer
	.container
		.row
			.top-footer__col.col-xl-3.col-lg-3.col-md-3.col-sm-4.col-xs-4
				p Headquarters:
				p 11 E. Chavdar Street, Office 222,
					br
					| Kiev, Ukraine 04335
			.top-footer__col.col-xl-3.col-lg-3.col-md-3.col-sm-4.col-xs-4
				p USA:
				p
					a(href="mailto:usa.hr@trinetix.com") usa.hr@trinetix.com
					a(href="tel:+1 212-336-1440") +1 212-336-1440
			.top-footer__col.col-xl-3.col-lg-3.col-md-3.col-sm-4.col-xs-4
				p Ukraine:
				p
					a(href="mailto:ua.hr@trinetix.com") ua.hr@trinetix.com
					a(href="tel:+38 044-334-2341") +38 044-334-2341
			.top-footer__col.col-xl-3.col-lg-3.col-md-3.col-sm-3.col-xs-3