svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox="0 0 33 33", width='32px', height='32px')
	defs
		filter#Filter_twitter(filterUnits='userSpaceOnUse', x='8.5px', y='10.5px', width='22px', height='17px')
			feoffset(in='SourceAlpha', dx='0.5', dy='0.866')
			fegaussianblur(result='blurOut', stdDeviation='1')
			feflood(flood-color='rgb(0, 0, 0)', result='floodOut')
			fecomposite(operator='atop', in='floodOut', in2='blurOut')
			fecomponenttransfer
				fefunca(type='linear', slope='0.34')
			femerge
				femergenode
				femergenode(in='SourceGraphic')
	path.twitter-1(fill-rule='evenodd', stroke-width='1px', stroke='#ffffff', fill='#00172b', d='M17.500,3.501 C25.232,3.501 31.500,9.769 31.500,17.501 C31.500,25.233 25.232,31.502 17.500,31.502 C9.768,31.502 3.500,25.233 3.500,17.501 C3.500,9.769 9.768,3.501 17.500,3.501 Z')
	g(filter='url(#Filter_twitter)')
		path.twitter-2(fill-rule='evenodd', fill='#ffffff', d='M26.822,12.162 C26.178,12.443 25.485,12.633 24.759,12.719 C25.500,12.281 26.070,11.589 26.338,10.765 C25.644,11.169 24.875,11.464 24.057,11.622 C23.401,10.935 22.468,10.506 21.434,10.506 C19.450,10.506 17.841,12.087 17.841,14.037 C17.841,14.314 17.873,14.584 17.934,14.843 C14.948,14.695 12.301,13.289 10.529,11.153 C10.220,11.675 10.043,12.281 10.043,12.929 C10.043,14.153 10.677,15.234 11.641,15.868 C11.052,15.849 10.498,15.691 10.013,15.426 C10.013,15.441 10.013,15.455 10.013,15.470 C10.013,17.181 11.252,18.609 12.895,18.933 C12.594,19.015 12.276,19.057 11.949,19.057 C11.717,19.057 11.492,19.035 11.273,18.993 C11.730,20.397 13.057,21.417 14.629,21.446 C13.399,22.394 11.850,22.958 10.167,22.958 C9.877,22.958 9.591,22.941 9.310,22.909 C10.900,23.910 12.788,24.495 14.817,24.495 C21.426,24.495 25.040,19.114 25.040,14.447 C25.040,14.293 25.036,14.142 25.029,13.990 C25.731,13.492 26.340,12.871 26.822,12.162 Z')