ul.main-menu
	li.main-menu__item
		a(href="javascript:void(0);", class="main-menu__link main-menu__link--default") Case Studies
	li.main-menu__item
		a(href="javascript:void(0);", class="main-menu__link main-menu__link--default") Services
	li.main-menu__item
		a(href="javascript:void(0);", class="main-menu__link main-menu__link--default") Expertise
	li.main-menu__item
		a(href="javascript:void(0);", class="main-menu__link main-menu__link--default") About
	li.main-menu__item
		a(href="javascript:void(0);", class="main-menu__link main-menu__link--special") Contact us