.mobile-menu#mobile-menu
	.container
		.mobile-menu-wrapper
			.mobile-menu-links
				a(class="mobile-menu-links__item", href="javascript:void(0);") Home
				a(class="mobile-menu-links__item", href="javascript:void(0);") Case Studies
				a(class="mobile-menu-links__item", href="javascript:void(0);") Services
				a(class="mobile-menu-links__item", href="javascript:void(0);") Expertise
				a(class="mobile-menu-links__item", href="javascript:void(0);") About
				a(class="mobile-menu-links__item", href="javascript:void(0);") Contact us
			include ../burgers/_hide-burger