.scroll-to-menu
	.container
		ul.menu
			li.menu__trigger.menu__trigger--active#all-trigger All
			li.menu__trigger#mobile-apps-trigger Mobile 
				span.menu__mobile-hide apps
			li.menu__trigger#web-services-trigger Web 
				span.menu__mobile-hide services
			li.menu__trigger#augmented-reality-trigger Augmented reality
			li.menu__trigger#design-trigger UX/UI design
			li.menu__trigger#development-trigger Development